absl-py==2.3.1
accelerate==1.12.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types
antlr4-python3-runtime==4.9.3
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
astor==0.8.1
asttokens
async-lru
attrs
babel
beartype==0.14.1
beautifulsoup4
better-abc==0.0.3
bidict==0.23.1
bitsandbytes==0.49.2
bleach
Brotli
cached-property
certifi
cffi
charset-normalizer
click
cloudpickle==3.1.1
colorama
comm
contourpy
cycler
datasets==4.5.0
debugpy
decorator
defusedxml
dill==0.3.8
dlabutils @ git+https://github.com/epfl-dlab/dlab-utils.git@cc00d507530dbfb2c278d7192d5b5c229265022c
docker-pycreds==0.4.0
docstring_parser==0.17.0
einops==0.8.1
eval_type_backport
exceptiongroup
executing
fancy-einsum==0.0.3
fastcore
fastjsonschema
filelock
fonttools
fqdn
frozenlist==1.7.0
fsspec==2024.2.0
gitdb
GitPython
gmpy2
grpcio==1.75.0
h11
h2
h5py
hf-xet==1.2.0
hpack
httpcore
httpx
huggingface_hub==1.4.1
hydra-core==1.3.2
hyperframe
idna
importlib_metadata
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isoduration
jaxtyping==0.3.2
jedi
Jinja2
joblib==1.5.2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
lark
lightning==2.5.5
lightning-bolts==0.7.0
lightning-utilities==0.15.2
loguru==0.7.3
lovely-numpy
lovely-tensors
Markdown==3.9
markdown-it-py==4.0.0
MarkupSafe
matplotlib==3.10.6
matplotlib-inline
mdurl==0.1.2
mistune
mkl-service==2.4.0
mkl_fft
mkl_random
mpmath
multidict==6.6.4
multiprocess==0.70.16
munkres==1.1.4
narwhals==2.5.0
nbclient
nbconvert
nbformat
nest_asyncio
networkx
nltk==3.9.1
nnsight==0.5.5
notebook
notebook_shim
numpy==1.26.4
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.8.90
omegaconf==2.3.0
overrides
packaging
pandas
pandocfilters
parso
peft==0.18.1
pexpect
pickleshare
pillow
platformdirs
plotly==6.3.0
prometheus_client
prompt_toolkit
propcache==0.3.2
protobuf
psutil
ptyprocess
pure_eval
pyarrow==21.0.0
pyarrow-hotfix==0.7
pycparser
pydantic
pydantic_core
Pygments
pyparsing
PySide6==6.9.2
PySocks
python-dateutil
python-dotenv==1.2.1
python-engineio==4.12.2
python-json-logger
python-socketio==5.13.0
pytorch-ignite==0.5.2
pytorch-lightning==1.9.5
pytz
PyYAML
pyzmq
referencing
regex==2025.9.18
requests
rfc3339_validator
rfc3986-validator
rfc3987-syntax
rich==14.1.0
rpds-py
safetensors==0.6.2
scikit-learn==1.7.2
scipy
seaborn==0.13.2
Send2Trash
sentencepiece==0.2.1
sentry-sdk
setproctitle
shellingham==1.5.4
shiboken6==6.9.2
shtab==1.7.2
simple-websocket==1.1.0
six
smmap
sniffio
soupsieve
stack_data
sympy
tensorboard==2.20.0
tensorboard-data-server==0.7.2
terminado
threadpoolctl==3.6.0
tinycss2
tokenizers==0.22.1
toml==0.10.2
tomli
torch==2.8.0
torchdata==0.11.0
torchmetrics==1.8.2
torchvision==0.23.0
tornado
tqdm
traitlets
transformer-lens==2.16.1
transformers==5.2.0
transformers-stream-generator==0.0.5
triton==3.4.0
trl==0.28.0
typeguard==4.4.4
typer==0.24.1
typer-slim==0.24.0
types-python-dateutil
typing-inspection
typing_extensions
typing_utils
tyro==0.9.32
tzdata
unicodedata2
uri-template
urllib3
wadler_lindig==0.1.7
wandb
wcwidth
webcolors
webencodings
websocket-client
Werkzeug==3.1.3
widgetsnbextension
wsproto==1.2.0
xxhash==3.5.0
yarl==1.20.1
zipp
zstandard==0.25.0