python-dotenv
datasets
torch
transformers>=4.56.0,<5
peft
trl
openai
vllm>=0.16.0
openrouter
omegaconf
pyyaml
accelerate
loguru
tqdm
pathlib
asyncio
nnterp
matplotlib
safetensors
seaborn 
numpy
joblib
scikit-learn
pandas
scikit-dimension
plotly
scipy
sentence-transformers
spacy>=3.8,<4
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl